---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: "{{ projects_storage_class }}"
spec:
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  capacity:
    storage: "{{ projects_storage_size }}"
  storageClassName: "{{ projects_storage_class }}"
  hostPath:
    path: "{{ projects_storage_path }}"
